.container.portfolio
  h2.section__name.section__name--center Портфоліо
  h3.section__header.section__header--center Наші роботи
  .project
    .project__description
      h4.project__name Назва проекта
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Nullam condimentum eros arcu, at aliquet tortor vestibulum ut.
        | Quisque sed libero nec nulla pulvinar pharetra. Aliquam porttitor
        | justo lorem, at rhoncus nulla condimentum vitae. Cras vitae aliquet quam.
        | Orci varius natoque penatibus et magnis dis parturient montes,
        | nascetur ridiculus mus. Phasellus id quam nulla.
      dl.project__features
        dt.project__feature-name Термін ремонта:
        dd.project__feature-value 21 день
        dt.project__feature-name Площа:
        dd.project__feature-value 81 м
          sup 2
    .project__gallery        
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            img.project__photo(src="img/project-1.jpg", alt="photo 1")
          .swiper-slide
            img.project__photo(src="img/project-2.jpg", alt="photo 2")
          .swiper-slide
            img.project__photo(src="img/project-3.jpg", alt="photo 3")
          .swiper-slide
            img.project__photo(src="img/project-4.jpg", alt="photo 4")              
        // Add Pagination
        .swiper-pagination
        // Add Arrows
        .swiper-button-next
        .swiper-button-prev