.reviews
  .container.container--narrow.review
    h2.section__name.section__name--center Відгуки
    h3.section__header.section__header--center Що про нас говорять наші клієнти
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          p.review__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            | Nulla ut eros at nunc venenatis varius ac ut nisl.
            | Cras vulputate efficitur ligula, ac bibendum est placerat vel.
            | Integer sit amet lectus non enim maximus varius sed non arcu.
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Nulla ut eros at nunc venenatis varius ac ut nisl.
            | Cras vulputate efficitur ligula, ac bibendum est placerat vel.
            | Integer sit amet lectus non enim maximus varius sed non arcu.
          p.review__author Елена Филонова, Львів          
        .swiper-slide
          p.review__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            | Nulla ut eros at nunc venenatis varius ac ut nisl.
            | Cras vulputate efficitur ligula, ac bibendum est placerat vel.
            | Integer sit amet lectus non enim maximus varius sed non arcu.            
          p.review__author Микола Коваленко, Львів
        .swiper-slide
          p.review__text Nulla ut eros at nunc venenatis varius ac ut nisl.
            | Cras vulputate efficitur ligula, ac bibendum est placerat vel.
            | Integer sit amet lectus non enim maximus varius sed non arcu.
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Nulla ut eros at nunc venenatis varius ac ut nisl.
            | Cras vulputate efficitur ligula, ac bibendum est placerat vel.
            | Integer sit amet lectus non enim maximus varius sed non arcu.
          p.review__author Іван Іванчук, Стрий
        .swiper-slide
          p.review__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            | Nulla ut eros at nunc venenatis varius ac ut nisl.
            | Cras vulputate efficitur ligula, ac bibendum est placerat vel.
            | Integer sit amet lectus non enim maximus varius sed non arcu.
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Nulla ut eros at nunc venenatis varius ac ut nisl.
          p.review__author Петро Петренко, Рівне
      // Add Pagination
      .swiper-pagination
      // Add Arrows
      .swiper-button-next
      .swiper-button-prev
    