@media (min-width: 1024px) {
  .container--narrow {
    max-width: 780px;
    width: 60%;
  }
  .contact-bar__phones {    
    flex-direction: row;
  }
  .collapse,
  .collapse:not(.show) {
    display: flex;
    flex-basis: auto;
  }
  .navbar-collapse {
    background-color: transparent;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .feature__text {
    display: block;
  }
  .about__picture {
    display: block;
  }
  .stages__container {
    flex-direction: row;
    margin: 100px 0;
  }
  .stage {
    border-top: 1px solid;
    border-left: none;
    flex-direction: column;
    margin-left: 0;
  }
  .stage__number {
    margin-top: -33px;
    margin-left: 0;
  }
  .stage__text {
    padding-left: 0;
    margin-top: 0px;
    height: auto;
  }
  .stage:last-child {
    border-top: none;
  }
  .project {
    flex-direction: row;
  }
  .project__gallery {
    width: 50%;
  }
  .reviews .swiper-slide {
    padding-right: 3em;
    padding-left: 3em;
  }
  .review__text::after {
    right: -10%;
  }
  .feedback__credentials {
    flex-direction: row;
  }
  .footer {
    padding: 5em 0;
  }
  .footer__content {   
    flex-direction: row;
  }
  .footer__social-links {
    flex-direction: column;
  }
}
