@media (min-width: 1024px) {
  .container--narrow {
    max-width: 780px;
    width: 60%;
  }
  .collapse,
  .collapse:not(.show) {
    display: flex;
    flex-basis: auto;
  }
  .navbar-collapse {
    background-color: transparent;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .about__picture {
    display: block;
  }
  .stages__container {
    flex-direction: row;
  }
  .stage__text {
    padding-left: 0;
    margin-top: 20px;
    height: auto;
  }
  .stage:last-child {
    border-top: none;
  }
  .project {
    flex-direction: row;
  }
}
